<div class="main posts-new">
  <div class="new-container">
    <p class="form-heading">アイディアを投稿</p>
    <%= form_with model: @post do |f| %>
      <%= f.text_area :content, size: "50x8" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
